node_modules/
.env
my-website/server/node_modules/**
my-website/server/.env
my-website/my-app/.env
my-website/server/node_modules/
.DS_Store
report.pdf
report.docx
my-website/my-app/node_modules/**
assets/**
my-website/server/.env
my-website/server/firebase-service-account.json
my-website/server/*firebase-adminsdk*.json

my-website/server/personal-web-page-ef722-firebase-adminsdk-fbsvc-2b697a573a.json

